//Variables
@import "../../index.scss";

.folder-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
  margin: 10px 10px 50px 0;
  padding: 3px 0;
  border: 1px solid transparent;
  text-decoration: none;

  .folder-projects__img {
    width: 100px;
    height: 60px;
  }

  .folder-projects__text {
    color: black;
    font-size: 15px;
  }
}

.folder-projects:hover {
  background-color: rgba($folder-aside-light-blue, $alpha: 0.4);
  cursor: pointer;
  border: 1px dotted white;
}
