$dark-blue: #00309c;
$light-blue: #005cc5;
$border-brown: #ab725d9e;
$too-light-blue: #c1e3ff;
$too-light-blue-transparent: #c1e3ff56;
$footer-main: #245edc;
$footer-main-light: #0d9df1;
$footer-main-green: #3db23d;
$close-red: #ff2e01;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
